@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}


#nprogress {
    pointer-events: none;
  }
  
  #nprogress .bar {
    background: #f48e28;
    height: 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1031;
  }
  